# 로컬 .env
# 실제 로컬 환경에서는 이 파일을 복사하여 .env로 사용
# EC2 배포 환경에서는 깃 secret에 작성된 키 값을 가져와서 새로 .env를 만들어서 사용됨
# MySQL
MYSQL_DATABASE=fitmate_db
MYSQL_ROOT_PASSWORD=

# RabbitMQ
RABBITMQ_DEFAULT_USER=admin
RABBITMQ_DEFAULT_PASS=

# Kakao API
KAKAO_ADMIN_KEY=
KAKAO_MAP_KEY=

# Google Translate API
GOOGLE_TRANSLATE_API_KEY=

# ExerciseDB API
EXERCISEDB_API_KEY=

# OpenWeather API
OPENWEATHER_API_KEY=

# Google OAuth2
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=

# Naver OAuth2
NAVER_CLIENT_ID=
NAVER_CLIENT_SECRET=

# Kakao OAuth2
KAKAO_CLIENT_ID=
KAKAO_CLIENT_SECRET=

# Jwt 시크릿 키
JWT_SECRET_KEY=

#DOCKER_HUB 유저이름
DOCKERHUB_USERNAME=

#서버 URL
FRONT_SERVER_URL=localhost:3000
BACKEND_API_SERVER_URL=localhost:8090